xml-resources/web-service-references/SessionControlEndpointSlsb/wsdl/SessionControlEndpointSlsb.wsdl_1.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.2-hudson-754-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.2-hudson-754-SNAPSHOT. --><definitions xmlns:tns="http://schemas.ericsson.com/cai3g1.2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://schemas.ericsson.com/cai3g1.2/">
<types>
<xsd:schema>
<xsd:import namespace="http://schemas.ericsson.com/cai3g1.2/" schemaLocation="SessionControlEndpointSlsb.xsd_1.xsd"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://cai3g.iap.iptv.ericsson.com/iptv_provisioning_user/" schemaLocation="SessionControlEndpointSlsb.xsd_2.xsd"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://cai3g.iap.iptv.ericsson.com/iptv_provisioning_subscriber/" schemaLocation="SessionControlEndpointSlsb.xsd_3.xsd"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://cai3g.iap.iptv.ericsson.com/iptv_provisioning_equipment/" schemaLocation="SessionControlEndpointSlsb.xsd_4.xsd"></xsd:import>
</xsd:schema>
</types>
<message name="Login">
<part name="parameters" element="tns:Login"></part>
</message>
<message name="LoginResponse">
<part name="parameters" element="tns:LoginResponse"></part>
</message>
<message name="Cai3GFault_Exception">
<part name="fault" element="tns:Cai3gFault"></part>
</message>
<message name="Logout">
<part name="parameters" element="tns:Logout"></part>
</message>
<message name="LogoutResponse">
<part name="parameters" element="tns:LogoutResponse"></part>
</message>
<portType name="SessionControl">
<operation name="Login">
<input message="tns:Login"></input>
<output message="tns:LoginResponse"></output>
<fault message="tns:Cai3GFault_Exception" name="Cai3GFault_Exception"></fault>
</operation>
<operation name="Logout">
<input message="tns:Logout"></input>
<output message="tns:LogoutResponse"></output>
<fault message="tns:Cai3GFault_Exception" name="Cai3GFault_Exception"></fault>
</operation>
</portType>
</definitions>