xml-resources/web-service-references/ProvisioningEndpointSlsb/wsdl/ProvisioningEndpointSlsb.xsd_2.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.2-hudson-754-SNAPSHOT. --><xs:schema xmlns:tns="http://cai3g.iap.iptv.ericsson.com/iptv_provisioning_user/" xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="1.0" xmlns:ns1="http://schemas.ericsson.com/cai3g1.2/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://cai3g.iap.iptv.ericsson.com/iptv_provisioning_user/">

<xs:import namespace="http://schemas.ericsson.com/cai3g1.2/" schemaLocation="ProvisioningEndpointSlsb.xsd_1.xsd"></xs:import>

<xs:element name="createUser">
<xs:complexType>
<xs:sequence>
<xs:element name="userId" type="xs:string" form="qualified"></xs:element>
<xs:element name="commonData" type="tns:CreateUserCommonDataType" form="qualified"></xs:element>
<xs:element name="services" type="tns:UserServicesType" form="qualified" minOccurs="0"></xs:element>
</xs:sequence>
<xs:attribute name="userId" type="xs:string" use="required">
  <xs:annotation>
    <xs:appinfo>
      <jxb:property name="createUserIdattribute"/>
    </xs:appinfo>
  </xs:annotation>
</xs:attribute>
</xs:complexType>
</xs:element>

<xs:element name="getResponseUser">
<xs:complexType>
<xs:sequence>
<xs:element name="userId" type="xs:string" form="qualified"></xs:element>
<xs:element name="commonData" type="tns:GetUserCommonDataType" form="qualified"></xs:element>
<xs:element name="services" type="tns:UserServicesType" form="qualified"></xs:element>
</xs:sequence>
<xs:attribute name="userId" type="xs:string" use="required">
  <xs:annotation>
    <xs:appinfo>
      <jxb:property name="getResponseUserIdattribute"/>
    </xs:appinfo>
  </xs:annotation>
</xs:attribute>
</xs:complexType>
</xs:element>

<xs:element name="setUser">
<xs:complexType>
<xs:sequence>
<xs:element name="commonData" type="tns:SetUserCommonDataType" form="qualified" minOccurs="0"></xs:element>
<xs:element name="services" type="tns:UserServicesType" form="qualified" minOccurs="0"></xs:element>
</xs:sequence>
<xs:attribute name="userId" type="xs:string" use="required"></xs:attribute>
</xs:complexType>
</xs:element>

<xs:complexType name="CreateUserCommonDataType">
<xs:sequence>
<xs:element name="subscriberId" type="xs:string" form="qualified"></xs:element>
<xs:element name="firstName" type="xs:string" form="qualified"></xs:element>
<xs:element name="lastName" type="xs:string" form="qualified"></xs:element>
<xs:element name="mobilePhoneNumber" type="xs:string" form="qualified"></xs:element>
<xs:element name="role" type="tns:RoleType" form="qualified"></xs:element>
<xs:element name="allowedRating" type="xs:string" form="qualified"></xs:element>
<xs:element name="languagePref" type="xs:language" form="qualified"></xs:element>
<xs:element name="notification" type="tns:NotificationType" form="qualified" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetUserCommonDataType">
<xs:sequence>
<xs:element name="subscriberId" type="xs:string" form="qualified"></xs:element>
<xs:element name="firstName" type="xs:string" form="qualified"></xs:element>
<xs:element name="lastName" type="xs:string" form="qualified"></xs:element>
<xs:element name="mobilePhoneNumber" type="xs:string" form="qualified"></xs:element>
<xs:element name="role" type="tns:RoleType" form="qualified"></xs:element>
<xs:element name="allowedRating" type="xs:string" form="qualified"></xs:element>
<xs:element name="languagePref" type="xs:language" form="qualified"></xs:element>
<xs:element name="notification" type="tns:NotificationType" form="qualified" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SetUserCommonDataType">
<xs:sequence>
<xs:element name="firstName" type="xs:string" form="qualified" minOccurs="0"></xs:element>
<xs:element name="lastName" type="xs:string" form="qualified" minOccurs="0"></xs:element>
<xs:element name="mobilePhoneNumber" type="xs:string" form="qualified" minOccurs="0"></xs:element>
<xs:element name="role" type="tns:RoleType" form="qualified" minOccurs="0"></xs:element>
<xs:element name="allowedRating" type="xs:string" form="qualified" minOccurs="0"></xs:element>
<xs:element name="languagePref" type="xs:language" form="qualified" minOccurs="0"></xs:element>
<xs:element name="notification" type="tns:NotificationType" form="qualified" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="RoleType">
<xs:restriction base="xs:string">
<xs:enumeration value="limitedUser"></xs:enumeration>
<xs:enumeration value="superUser"></xs:enumeration>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="NotificationType">
<xs:restriction base="xs:string">
<xs:enumeration value="SMS"></xs:enumeration>
<xs:enumeration value="SIP"></xs:enumeration>
<xs:enumeration value="BOTH"></xs:enumeration>
<xs:enumeration value="NONE"></xs:enumeration>
</xs:restriction>
</xs:simpleType>

    <!-- ****************************** SERVICE DEFINITIONS *************************************************** -->
    
    <xs:complexType name="UserServicesType">
        <xs:all>
            <xs:element name="charging" form="qualified" type="tns:ChargingType"
                minOccurs="0" maxOccurs="1" />
            <xs:element name="userAccountIdentity" form="qualified" type="tns:UserAccountIdentityType"
                minOccurs="0" maxOccurs="1" />
            <xs:element name="userPortalPreferences" form="qualified" type="tns:UserPortalPreferencesType"
                minOccurs="0" maxOccurs="1" />
        </xs:all>
    </xs:complexType>

    <!-- Charging -->
    <xs:complexType name="ChargingType">
        <xs:complexContent>
            <xs:extension base="ns1:AbstractServiceType">
                <xs:all>
                    <xs:element name="chargingId" form="qualified" type="xs:string" minOccurs="0"
                        maxOccurs="1" />
                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- The IMS identity service: Mapping between the user ID and its account identity -->
    <xs:complexType name="UserAccountIdentityType">
        <xs:complexContent>
            <xs:extension base="ns1:AbstractServiceType">
                <xs:all>
                    <!-- The IMPU (IM Public Identity) of the subscriber  -->
                    <xs:element name="impu" form="qualified" type="xs:string" minOccurs="0"
                        maxOccurs="1" />
                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- The Portal Preferences service: setting certain portal preferences applicable to a particular user.
    Each preference comes as name-value pair. The list of valid names to be used are CPI-documented. -->
    <xs:complexType name="UserPortalPreferencesType">
        <xs:complexContent>
            <xs:extension base="ns1:AbstractServiceType">
                <xs:sequence>
                    <xs:element name="preference" form="qualified" minOccurs="0"
                        maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:attribute name="delete" type="xs:boolean" default="false" />
                            <xs:attribute name="name" type="xs:string" use="required" />
                            <xs:attribute name="value" type="xs:string"  />
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>