xml-resources/web-service-references/ProvisioningEndpointSlsb/wsdl/ProvisioningEndpointSlsb.wsdl_1.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.2-hudson-754-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.2-hudson-754-SNAPSHOT. --><definitions xmlns:tns="http://schemas.ericsson.com/cai3g1.2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://schemas.ericsson.com/cai3g1.2/">
<types>
<xsd:schema>
<xsd:import namespace="http://schemas.ericsson.com/cai3g1.2/" schemaLocation="ProvisioningEndpointSlsb.xsd_1.xsd"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://cai3g.iap.iptv.ericsson.com/iptv_provisioning_user/" schemaLocation="ProvisioningEndpointSlsb.xsd_2.xsd"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://cai3g.iap.iptv.ericsson.com/iptv_provisioning_subscriber/" schemaLocation="ProvisioningEndpointSlsb.xsd_3.xsd"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://cai3g.iap.iptv.ericsson.com/iptv_provisioning_equipment/" schemaLocation="ProvisioningEndpointSlsb.xsd_4.xsd"></xsd:import>
</xsd:schema>
</types>
<message name="HeadInfo">
<part name="sessionId" element="tns:SessionId" />
<part name="transactionId" element="tns:TransactionId" />
<part name="sequenceId" element="tns:SequenceId" />
</message>
<message name="Cai3gHeaderFault">
<part name="sessionIdFault" element="tns:SessionIdFault" />
<part name="transactionIdFault" element="tns:TransactionIdFault" />
<part name="sequenceIdFault" element="tns:SequenceIdFault" />
</message>
<message name="GetRequest">
<part name="parameters" element="tns:Get"></part>
</message>
<message name="GetResponse">
<part name="parameters" element="tns:GetResponse"></part>
</message>
<message name="Cai3GFault_Exception">
<part name="fault" element="tns:Cai3gFault"></part>
</message>
<message name="Set">
<part name="parameters" element="tns:Set"></part>
</message>
<message name="SetResponse">
<part name="parameters" element="tns:SetResponse"></part>
</message>
<message name="Delete">
<part name="parameters" element="tns:Delete"></part>
</message>
<message name="DeleteResponse">
<part name="parameters" element="tns:DeleteResponse"></part>
</message>
<message name="Search">
<part name="parameters" element="tns:Search"></part>
</message>
<message name="SearchResponse">
<part name="parameters" element="tns:SearchResponse"></part>
</message>
<message name="Create">
<part name="parameters" element="tns:Create"></part>
</message>
<message name="CreateResponse">
<part name="parameters" element="tns:CreateResponse"></part>
</message>
<portType name="Provisioning">
<operation name="Get">
<input message="tns:GetRequest"></input>
<output message="tns:GetResponse"></output>
<fault message="tns:Cai3GFault_Exception" name="Cai3GFault_Exception"></fault>
</operation>
<operation name="Set">
<input message="tns:Set"></input>
<output message="tns:SetResponse"></output>
<fault message="tns:Cai3GFault_Exception" name="Cai3GFault_Exception"></fault>
</operation>
<operation name="Delete">
<input message="tns:Delete"></input>
<output message="tns:DeleteResponse"></output>
<fault message="tns:Cai3GFault_Exception" name="Cai3GFault_Exception"></fault>
</operation>
<operation name="Search">
<input message="tns:Search"></input>
<output message="tns:SearchResponse"></output>
<fault message="tns:Cai3GFault_Exception" name="Cai3GFault_Exception"></fault>
</operation>
<operation name="Create">
<input message="tns:Create"></input>
<output message="tns:CreateResponse"></output>
<fault message="tns:Cai3GFault_Exception" name="Cai3GFault_Exception"></fault>
</operation>
</portType>
</definitions>